<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        body {
            background-color: antiquewhite;
        }
    </style>
</head>

<body>
    <!-- Default form login -->
    <div class="row">
        <div class="col-md-4 offset-md-4">

            <form class="text-center border border-light p-5" action="#!" method="POST">

                <p class="h4 mb-4">Select Topic</p>
                <div class="form-group">
                    <label for="topic">Topics</label>
                    <select id="topic" class="form-control">
                        
                        {% for topic in allTopics %}
                        <option value={{topic.id}}>{{topic.topic}}</option>
                        {% endfor %}
                        <p>
                           
                    </select>
                </div>

                <button class="btn btn-info btn-block my-4" type="submit">Search for Topic</button>

            </form>
            <!-- Default form login -->
        </div>
    </div>
</body>

</html>